<?xml version="1.0"?>
<configuration>
    <system.web>

      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=shantamLapi\SQLExpress;Initial Catalog=e-purchase;Integrated Security=True"/>
  </connectionStrings>
</configuration>
